.cuadrado_1{
    margin-top: 50px;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bb2cd8;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.formulario_ejercicio_1 {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    left: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color: initial;
}

.input_ejercicio1 {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;

}

.boton_ejercicio1{
    background-color:#3880fc;
    color: white;
    width: 70px;
    height: 35px;
    border-radius: 3px;
    border: none;
}

.resultado_eje1{
    text-align: left;
}



.cuadrado_2 {
    margin-top: 50px;
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68d82c;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 25px;
}

.formulario_ejercicio_2 {
    background-color: white;
    padding: 20px;
    width: 400px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: absolute;
    left: 20px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color: initial;
}

.input_ejercicio2 {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;

}

.boton_ejercicio2{
    background-color:#3880fc;
    color: white;
    width: 70px;
    height: 35px;
    border-radius: 3px;
    border: none;
}

.resultado_eje2{
    text-align: left;
}

.contenedor_cajas {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.caja_1 a, .caja_2 a {
    text-decoration: none;
}