<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pagina de Inicio</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="contenedor_cajas">
        <div class="caja_1">
            <a href="/ejercicio1">
                <div class="cuadrado_1">Ejercicio 1</div>
            </a>
        </div>
        <div class="caja_2">
            <a href="/ejercicio2">
                <div class="cuadrado_2">Ejercicio 2</div>
            </a>
        </div>
    </div>
</body>
</html>